__pycache__/
*.py[cod]
*$py.class

venv/
.Python
*.egg-info/
*.egg
build/
dist/
wheels/
pip-wheel-metadata/

.env
.env.local
.env.production
local_settings.py

*.log
db.sqlite3
db.sqlite3-journal
media/

staticfiles/
.sass-cache/
.webassets-cache/
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.dmypy.json
dmypy.json
.ipynb_checkpoints/

docs/_build/

target/
.pybuilder/

.idea/
.vscode/
profile_default/
ipython_config.py
